<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <title>M</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(Users)}">
        <h2>All Users</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job</th>
            </tr>
            <tr th:each="u : ${User}">
                <td th:text="${u.Id}">Id</td>
                <td th:text="${u.name}">Name</td>
                <td th:text="${u.jobTitle}">Description</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>