<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div>
    <h2>Counts List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>toString()</th>

        </tr>
        <tr th:each="users : ${user}">
            <!--/*@thymesVar id="user" type="me.nuncan.hiringmodel.datasources.Neo4j.entity.User"*/-->
            <td th:text="${user.getId() == null ? 0 : user.id}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.toString()}"></td>
        </tr>
    </table>
</div>
</html>